OPENAI_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=
LLM_PROVIDER=openai
OPENAI_MODEL_ID=gpt-5.4
OPENAI_VISION_MODEL_ID=gpt-4.1-nano-2025-04-14
GEMINI_MODEL_ID=gemini-2.5-flash
GEMINI_VISION_MODEL_ID=gemini-2.5-flash
CLAUDE_MODEL_ID=claude-3-5-sonnet-latest
CLAUDE_VISION_MODEL_ID=claude-3-5-sonnet-latest